## Lab | Inferential statistics extended

In [32]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
# import warnings
# warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
df_machine= pd.read_csv('machine.txt', sep = "\t", encoding = "utf_16_le")
df_machine.head(10)

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [29]:
df_machine.dtypes

New machine        float64
    Old machine    float64
dtype: object

In [30]:
# H0 = 
# H1 =

In [31]:
# single tailed test
df_machine.columns = ['new_machine', 'old_machine']
st.ttest_ind(df_machine['new_machine'], df_machine['old_machine'], equal_var=False)

Ttest_indResult(statistic=-3.397230706117603, pvalue=0.0032422494663179747)

In [33]:
df_pokemon = pd.read_csv('pokemon.csv')
df_pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [34]:
df_pokemon.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [ ]:
# H1: The defense scores != attack scores
# H0: The defense scores = attack scores

In [35]:
# Matched-pairs test
st.ttest_rel(df_pokemon['Defense'],df_pokemon['Attack']) # p-value is low, so we must reject H0

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [37]:
df_pokemon[['Defense','Attack']].describe() # In general, defense is lower, but max is higher

          Defense      Attack
count  800.000000  800.000000
mean    73.842500   79.001250
std     31.183501   32.457366
min      5.000000    5.000000
25%     50.000000   55.000000
50%     70.000000   75.000000
75%     90.000000  100.000000
max    230.000000  190.000000

In [38]:
pokemon_sample = df_pokemon[['Defense','Attack']].sample(100)
pokemon_sample.head()

     Defense  Attack
795      150     100
436       52      78
780       70      66
237      120      50
708       90     125

In [39]:
display(pokemon_sample.mean())

Defense    71.78
Attack     78.40
dtype: float64

In [43]:
st.ttest_rel(pokemon_sample['Defense'], pokemon_sample['Attack'])

Ttest_relResult(statistic=-1.892907575993649, pvalue=0.061290987841658845)